spring:
 application:
  name: peluqueria

 jackson:
  date-format: yyyy-MM-dd'T'HH:mm:ss
  time-zone: UTC

 datasource:
  url: ${SPRING_DATASOURCE_URL}
  username: ${SPRING_DATASOURCE_USERNAME}
  password: ${SPRING_DATASOURCE_PASSWORD}
  driver-class-name: org.postgresql.Driver

 jpa:
  hibernate:
   ddl-auto: update   # en prod real: validate o none + Flyway
  show-sql: true
  properties:
   hibernate:
    dialect: org.hibernate.dialect.PostgreSQLDialect
  defer-datasource-initialization: true

 sql:
  init:
   mode: never   # cambia a 'always' solo si usas schema.sql / data.sql

server:
 port: ${PORT:8080}  # Render asigna PORT por env var

logging:
 level:
  org.springframework.boot.autoconfigure.jdbc: DEBUG

security:
 jwt:
  secret-key: ${JWT_SECRET}
  expiration-time: 3600000

springdoc:
 swagger-ui:
  enabled: true
 api-docs:
  enabled: true
